body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.home{
  position: absolute;
  width: 42px;
  height: 53px;
  left: 45px;
  top: 31px;
  border: 11px solid #DD4747;
  box-sizing: border-box;
}

.home:hover{
  border: 11px solid #757575;
}

.box{
  margin-top: 110px;
}

.grid-container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 20px;
}

.grid-item{
  border: 15px solid blue;
}
