body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* background-color: #0765CD; */
}

.home{
  position: absolute;
  width: 42px;
  height: 53px;
  left: 45px;
  top: 31px;
  border: 11px solid #DD4747;
  box-sizing: border-box;
}

.home:hover{
  border: 11px solid #757575;
}

.category {
  position: absolute;
  width: 63px;
  height: 25px;
  left: 1272px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  top: 32px;
  letter-spacing: 0.17em;
  color: black;
  text-transform: uppercase;
}

.caption{
  position: absolute;
  width: 171px;
  height: 26px;
  left: -15px;
  top: 380px;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 36px;
  color: black;
  transform: rotate(-90deg);
  text-transform: capitalize;
}

.caption-move{
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes rotate {

  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(0deg);
    left: 200px;
    font-size: 50px;
    line-height: 56px;
  }
  100% {
    transform: rotate(0deg);
    left: 200px;
    font-size: 50px;
    line-height: 54px;
  }
}

.tag-image{
  position: absolute;
  width: 642px;
  height: 525px;
  left: 559px;
  top: 160px;
  box-shadow: 0px 12px 17px 3px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: image-move;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes image-move {
  0% {
    left: -50px;
  }
  100% {
    left: 559px;
  }
}

.url-style {
  position: absolute;
  top: 720px;
  left: 70px;
  color: blue;
}

.url-style:hover {
  position: absolute;
  top: 720px;
  left: 70px;
  color: blue;
  text-decoration: underline;
}

.url-style:active {
  position: absolute;
  top: 720px;
  left: 70px;
  color: red;
  text-decoration: underline;
}

button{
  position: absolute;
  width: 226px;
  height: 38px;
  left: 1166px;
  top: 706px;
  background: #FFFFFF;
  border-radius: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}
