body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* background-color: #0765CD; */
}

.home{
  position: absolute;
  width: 42px;
  height: 53px;
  left: 45px;
  top: 31px;
  border: 11px solid #DD4747;
  box-sizing: border-box;
}

.home:hover{
  border: 11px solid #757575;
}

.category {
  position: absolute;
  width: 63px;
  height: 25px;
  left: 1272px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  top: 32px;
  letter-spacing: 0.17em;
  color: black;
  text-transform: uppercase;
}

.caption{
  position: absolute;
  width: 171px;
  height: 26px;
  left: -15px;
  top: 380px;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 36px;
  color: black;
  transform: rotate(-90deg);
  text-transform: capitalize;
}

.caption-move{
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes rotate {

  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(0deg);
    left: 200px;
    font-size: 50px;
    line-height: 56px;
  }
  100% {
    transform: rotate(0deg);
    left: 200px;
    font-size: 50px;
    line-height: 54px;
  }
}

.tag-image{
  position: absolute;
  width: 642px;
  height: 525px;
  left: 559px;
  top: 160px;
  box-shadow: 0px 12px 17px 3px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: image-move;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes image-move {
  0% {
    left: -50px;
  }
  100% {
    left: 559px;
  }
}

.url-style {
  position: absolute;
  top: 720px;
  left: 70px;
  color: blue;
}

.url-style-white {
  position: absolute;
  top: 720px;
  left: 70px;
  color: transparent;
}

.url-style:hover {
  position: absolute;
  top: 720px;
  left: 70px;
  color: blue;
  text-decoration: underline;
}

.url-style:active {
  position: absolute;
  top: 720px;
  left: 70px;
  color: red;
  text-decoration: underline;
}

button{
  position: absolute;
  width: 226px;
  height: 38px;
  left: 1166px;
  top: 708px;
  background: #FFFFFF;
  border-radius: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}

button:hover {
  background: green;
  color: white;
  box-shadow: 0px 12px 17px 3px rgba(0, 0, 0, 0.2);
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  pointer-events: none;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 375px){
  .home{
    position: absolute;
    width: 27px;
    height: 34px;
    left: 13px;
    top: 13px;
    border: 5px solid #DD4747;
  }
  .home:hover{
    border: 5px solid #757575;
  }
  .category {
    position: absolute;
    width: 195px;
    height: 30px;
    left: 90px;
    top: 455px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: black;
    text-transform: uppercase;
  }
  .tag-image{
    position: absolute;
    width: 281px;
    height: 230px;
    left: 47px;
    top: 151px;
    box-shadow: 0px 12px 17px 3px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: image-move;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  @keyframes image-move {
    0% {
      top: 411px;
    }
    100% {
      top: 151px;
    }
  }
  button{
    position: absolute;
    width: 178px;
    height: 35px;
    left: 99px;
    top: 638px;
    background: #FFFFFF;
    border-radius: 32px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    box-shadow: 0px 12px 17px 3px rgba(0, 0, 0, 0.12);
  }
  .caption{
    position: absolute;
    text-align: center;
    width: 237px;
    height: 100px;
    left: 69px;
    top: 527px;
    color: transparent;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    animation-name: appear;
    animation-duration: 60s;
    animation-iteration-count: 1;
    animation-delay: 3s;
    transform: rotate(0deg);
  }
  @keyframes appear {

    0% {

      top: 417px;
      color: white;
    }
    5% {

      top: 477px;
      color: black;
    }
    100% {

      top: 477px;
      color: black;
    }
  }
  .url-style {
    position: absolute;
    top: 600px;
    left: 0px;
    width: 375px;
    height: 20px;;
    color: blue;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
  }
  .url-style:hover {
    color: blue;
    text-decoration: none;
  }
  .url-style:active {
    color: blue;
    text-decoration: underline;
  }
  .cursor {
    width: 0px;
    height: 0px;
    background: none;
    pointer-events: none;
    mix-blend-mode: difference;
  }
}
